<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="onBack()">
      <ion-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-title><span class="app-name">Smart Water Heater</span></ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding">
        <ion-img src="assets/img/logo.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding">
        <h4 class="ion-text-center">Vì sự thỏa mãn tuyệt đối của bạn</h4>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row size="3">
      <ion-col class="ion-padding">
        <circle-progress [percent]="deviceStatus.R1" [radius]="30" [outerStrokeWidth]="6" [innerStrokeWidth]="3"
          [outerStrokeColor]="'#fff'" [toFixed]="1" [innerStrokeColor]="'#fff'" [animation]="true"
          [animationDuration]="300" [units]="deviceStatus.R1==128?'':'&deg;C'" [title]="deviceStatus.R1==128?'ERR':deviceStatus.R1">
        </circle-progress>

        <h6 style="text-align: center;">Phần vùng 1</h6>
      </ion-col>
      <ion-col class="ion-padding">
        <circle-progress [percent]="deviceStatus.R2" [radius]="30" [outerStrokeWidth]="6" [innerStrokeWidth]="3"
          [outerStrokeColor]="'#fff'" [toFixed]="1" [innerStrokeColor]="'#fff'" [animation]="true"
          [animationDuration]="300" [units]="deviceStatus.R2==128?'':'&deg;C'" [title]="deviceStatus.R2==128?'ERR':deviceStatus.R2">
        </circle-progress>
        <h6 style="text-align: center;">Phân vùng 2</h6>
      </ion-col>
      <ion-col class="ion-padding">
        <circle-progress [percent]="deviceStatus.R3" [showTitle]="deviceStatus&&(deviceStatus&&deviceStatus.R1!==210)"
          [units]="!deviceStatus||(deviceStatus&&deviceStatus.R1==210)?'ERR':'&deg;C'" [radius]="30"
          [outerStrokeWidth]="6" [innerStrokeWidth]="3" [outerStrokeColor]="'#fff'" [toFixed]="1"
          [innerStrokeColor]="'#fff'" [animation]="true" [animationDuration]="300" [units]="deviceStatus.R3==128?'':'&deg;C'" [title]="deviceStatus.R3==128?'ERR':deviceStatus.R3">
        </circle-progress>
        <h6 style="text-align: center;">Bồn nước nóng</h6>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>{{['RKRB4q7WGo6aHeE2cYIq5bO7','W1Agqq2bhpGXbaL1ScROrzhD'].includes(authService.currentGroup)?'Giám sát, ':''}}Điều khiển</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>Kích hoạt tuần hoàn</ion-label>
        <!-- <ion-toggle *ngIf="deviceStatus" [(ngModel)]="currentState.V2" (ionChange)="onControl()">
        </ion-toggle> -->
        <ion-button (click)="presentForceActionSheet()">Chọn phân vùng</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>Chọn chế độ tuần hoàn</ion-label>
        <!-- <ion-toggle *ngIf="deviceStatus" [(ngModel)]="currentState.V1" (ionChange)="onControl()">
        </ion-toggle> -->
        <ion-button (click)="presentActionSheet()">
          {{deviceSetting.ST==0?'Switch Box':''}}
          {{deviceSetting.ST==1?'Tắt hệ thống':''}}
          {{deviceSetting.ST==2?'Tự động':''}}
          {{deviceSetting.ST==3?'Biểu lập và cưỡng bức':''}}
          {{deviceSetting.ST==4?'Cưỡng bức':''}}
        </ion-button>
        <ion-text color="success">
          <h4 color="success" *ngIf="!deviceStatus">NA</h4>
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Cấp nhiệt dự phòng</ion-label>
        <!-- <ion-toggle *ngIf="deviceStatus" [(ngModel)]="currentState.V2" (ionChange)="onControl()">
        </ion-toggle> -->
        <ion-button (click)="buNhietCuongBuc()">{{buNhietSetting.ST==1?'Mở':'Tắt'}}</ion-button>
      </ion-item>
      <ion-item *ngIf="['RKRB4q7WGo6aHeE2cYIq5bO7','W1Agqq2bhpGXbaL1ScROrzhD'].includes(authService.currentGroup)">
        <ion-label>Dòng điện</ion-label>
        <!-- <ion-toggle *ngIf="deviceStatus" [(ngModel)]="currentState.V2" (ionChange)="onControl()">
        </ion-toggle> -->
        <span>{{deviceStatus.CR |number:'1.2-2'}} A</span>
      </ion-item>


      <!-- <ion-item>
        <ion-label>Van By Pass</ion-label>
        <ion-button (click)="openValveByPass()">{{valveSetting.ST==1?'Mở':'Đóng'}}</ion-button>
      </ion-item> -->

      <ion-item  *ngIf="['RKRB4q7WGo6aHeE2cYIq5bO7','W1Agqq2bhpGXbaL1ScROrzhD'].includes(authService.currentGroup)">
        <ion-label>Mức nước trong bình</ion-label>
        <ion-text color="success" *ngIf="deviceStatus&&deviceStatus.WL!=32768 && deviceStatus.WL>0">
          <h4>{{WL|percent}}</h4>
        </ion-text>
        <ion-text color="danger" *ngIf="!deviceStatus||(deviceStatus&&deviceStatus.WL==32768) || (deviceStatus&&deviceStatus.WL<=0)">
          <h4>NA</h4>
        </ion-text>
      </ion-item>
    </ion-item-group>

    
  </ion-list>
</ion-content>
