<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Liên hệ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Liên hệ</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-list lines="full">
        <ion-item>
          <ion-avatar>
            <img src="assets/img/map.png" alt="" srcset="">
          </ion-avatar>
          <ion-label>
              <h2>Địa chỉ</h2>
              <h3 style="white-space: normal;">Lô N1 cụm 17,
                Khu công nghiệp Khai Quang,
                Thành phố Vĩnh Yên,
                Tỉnh Vĩnh Phúc</h3>
          </ion-label>
        </ion-item>
        <ion-item  >
          <ion-avatar>
            <img  class="img-icon" src="assets/img/monitor.png" alt="" srcset="">
          </ion-avatar>
          <ion-label >
              <h2 class="ion-margin">Email</h2>
              <h3 style="white-space: normal;">
                <a href="mailto:kinhdoanh@benlleyvietnam.vn">kinhdoanh@benlleyvietnam.vn</a>
              </h3>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar>
            <img src="assets/img/chat.png" alt="" srcset="">
          </ion-avatar>
          <ion-label>
              <h2>Hotline</h2>
              <h3 style="white-space: normal;">
                <a href="tel:0915239239">0915.239.239</a>
              </h3>
          </ion-label>
        </ion-item>
      </ion-list>
      
    </ion-row>
  </ion-grid>


</ion-content>