.img-icon {
    border-radius: var(--border-radius);
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

ion-content,
ion-item,
ion-item-group,
ion-toolbar,
ion-label,
ion-item-divider {
    --background: none !important;
}

.list-md {
    background: none !important;
}
