<ion-header>
  <ion-toolbar>
    <ion-title>Cài đặt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>Cài đặt cảnh báo</ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-label position="stacked" >Set 3.5 (Ngưỡng tiến hành bù nhiệt)</ion-label>
    <ion-input type="number" [(ngModel)]="filterSetting.S35"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Set 3.6 (Ngưỡng nhiệt tồi tệ)</ion-label>
    <ion-input type="number" [(ngModel)]="filterSetting.S36"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">LW (Lượng nước nóng thấp)</ion-label>
    <ion-input type="number" [(ngModel)]="filterSetting.LW"></ion-input>
  </ion-item>
    <ion-button (click)="onSetFilter()" expand="block">Xác nhận</ion-button>
</ion-content>