<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="help">
      <ion-icon name="headset"></ion-icon>
      <ion-label>Trợ giúp</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="setting" *ngIf="['RKRB4q7WGo6aHeE2cYIq5bO7','W1Agqq2bhpGXbaL1ScROrzhD'].includes(authService.currentGroup)">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Cài đặt</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Liên hệ</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
