<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="onBack()">
      <ion-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Lập biểu tuần hoàn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item ines="full">
      <ion-label>Chế độ</ion-label>
      <ion-select placeholder="Chọn chế độ" name="mode" [(ngModel)]="mode" cancelText="Hủy" okText="Chọn" (ionChange)="onChangeMode($event.detail.value)">
        <ion-select-option value="mode1">Có trẻ nhỏ/ Tiệc cuối năm</ion-select-option>
        <ion-select-option value="mode2">Giờ cao điểm</ion-select-option>
        <ion-select-option value="mode3">Giờ cao điểm/ thấp điểm</ion-select-option>
        <!-- <ion-select-option value="custom">Tuỳ chỉnh</ion-select-option> -->
      </ion-select>
    </ion-item>
    <ion-list-header>
      <ion-label>Thiết lập quãng thời gian</ion-label>
    </ion-list-header>
    <ng-container  *ngFor="let tf of tfs; let i = index">
      <ion-item *ngIf="tf.from">
        <ion-label>Quãng {{i+1}}</ion-label>
        <ion-datetime [(ngModel)]="tfs[i].from" name="tff{{i}}" displayFormat="HH:mm" hourCycle="h24" locale="en-GB" disabled  minute-values="0,10,20,30,40,50" done-text="Chọn" cancel-text="Hủy" placeholder="Từ"></ion-datetime>
        <ion-datetime [(ngModel)]="tfs[i].to" name="tft{{i}}" displayFormat="HH:mm" hourCycle="h24" locale="en-GB" disabled  minute-values="0,10,20,30,40,50" done-text="Chọn" cancel-text="Hủy" placeholder="Đến"></ion-datetime>
      </ion-item>
    </ng-container>
    
    <!-- <ion-item>
      <ion-label>Quãng 2</ion-label>
      <ion-datetime displayFormat="hh-mm-A"  minute-values="0,15,30,45" done-text="Chọn" cancel-text="Hủy" placeholder="Từ"></ion-datetime>
      <ion-datetime displayFormat="hh-mm-A"  minute-values="0,15,30,45" done-text="Chọn" cancel-text="Hủy" placeholder="Đến"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Quãng 3</ion-label>
      <ion-datetime displayFormat="hh-mm-A"  minute-values="0,15,30,45" done-text="Chọn" cancel-text="Hủy" placeholder="Từ"></ion-datetime>
      <ion-datetime displayFormat="hh-mm-A"  minute-values="0,15,30,45" done-text="Chọn" cancel-text="Hủy" placeholder="Đến"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Quãng 4</ion-label>
      <ion-datetime displayFormat="hh-mm-A"  minute-values="0,15,30,45" done-text="Chọn" cancel-text="Hủy" placeholder="Từ"></ion-datetime>
      <ion-datetime displayFormat="hh-mm-A"  minute-values="0,15,30,45" done-text="Chọn" cancel-text="Hủy" placeholder="Đến"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Quãng 5</ion-label>
      <ion-datetime displayFormat="hh-mm-A"  minute-values="0,15,30,45" done-text="Chọn" cancel-text="Hủy" placeholder="Từ"></ion-datetime>
      <ion-datetime displayFormat="hh-mm-A"  minute-values="0,15,30,45" done-text="Chọn" cancel-text="Hủy" placeholder="Đến"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Quãng 6</ion-label>
      <ion-datetime displayFormat="hh-mm-A"  minute-values="0,15,30,45" done-text="Chọn" cancel-text="Hủy" placeholder="Từ"></ion-datetime>
      <ion-datetime displayFormat="hh-mm-A"  minute-values="0,15,30,45" done-text="Chọn" cancel-text="Hủy" placeholder="Đến"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Quãng 7</ion-label>
      <ion-datetime displayFormat="hh-mm-A"  minute-values="0,15,30,45" done-text="Chọn" cancel-text="Hủy" placeholder="Từ"></ion-datetime>
      <ion-datetime displayFormat="hh-mm-A"  minute-values="0,15,30,45" done-text="Chọn" cancel-text="Hủy" placeholder="Đến"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Quãng 8</ion-label>
      <ion-datetime displayFormat="hh-mm-A"  minute-values="0,15,30,45" done-text="Chọn" cancel-text="Hủy" placeholder="Từ"></ion-datetime>
      <ion-datetime displayFormat="hh-mm-A"  minute-values="0,15,30,45" done-text="Chọn" cancel-text="Hủy" placeholder="Đến"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Quãng 9</ion-label>
      <ion-datetime displayFormat="hh-mm-A"  minute-values="0,15,30,45" done-text="Chọn" cancel-text="Hủy" placeholder="Từ"></ion-datetime>
      <ion-datetime displayFormat="hh-mm-A"  minute-values="0,15,30,45" done-text="Chọn" cancel-text="Hủy" placeholder="Đến"></ion-datetime>
    </ion-item> -->

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block" (click)="onSetupTimeframe()">Xác nhận lập biểu</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>