/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
// @font-face {
//     font-family: "utm-aptima";
//     src: url("/assets/fonts/UTMAptima.ttf") format("woff"), url("/assets/fonts/UTMAptima.ttf") format("opentype"),
//         url("/assets/fonts/UTMAptima.ttf") format("truetype");
// }
// @font-face {
//     font-family: "HelveticaLt";
//     src: url("/assets/fonts/HelveticaLt.ttf") format("woff"), url("/assets/fonts/HelveticaLt.ttf") format("opentype"),
//         url("/assets/fonts/HelveticaLt.ttf") format("truetype");
// }
// body {
//     font-family: "utm-aptima" !important;
// }
// .app-name{
//     font-family: "HelveticaLt" !important;
// }
// :root {
//     --ion-font-family: "utm-aptima";
// }
body {
    //  background-image: linear-gradient(to right top, #f0e51c, #f4cb10, #f4b215, #f0991f, #e88129);
    background: url("assets/img/bg.jpg") no-repeat;
    background-size: cover;
}
