<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Trợ giúp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-list  lines="full" style="width:100%">
        <ion-item>
          <ion-avatar>
            <img src="assets/img/chat.png" alt="" srcset="">
          </ion-avatar>
          <ion-label>
              <h2>Hỗ trợ kỹ thuật</h2>
              <h3 style="white-space: normal;">
                <a href="tel:0342902902">0342.902.902</a>
              </h3>
          </ion-label>
        </ion-item>
      </ion-list>
      
    </ion-row>
  </ion-grid>


</ion-content>