<ion-header [translucent]="true">
  <ion-toolbar style="background: none !important;">
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end" (click)="onLogout()">
      <ion-button>
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding">
        <ion-img src="assets/img/logo.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding">
        <h4 class="ion-text-center">Vì sự thỏa mãn tuyệt đối của bạn</h4>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Chọn thiết bị </ion-label>
        <!-- - Vuốt qua trái -->
      </ion-item-divider>
      <!-- <ion-item-sliding *ngFor="let device of devices">
        <ion-item-options side="end">
          <ion-item-option >Chi tiết</ion-item-option>
        </ion-item-options> -->

        <ion-item *ngFor="let device of devices;trackBy:trackByStatus" (click)="showActionSheet(device)">
          <ion-icon color="{{isOffline(device)?'medium':'danger'}}" slot="start" name="thermometer-outline"></ion-icon>
          <ion-label>
            <h3>{{device.name +( device.summary?' - ' + device.summary:'') }}</h3>
            <p>Mac: {{device.mac}}</p>
          </ion-label>
        </ion-item>
      <!-- </ion-item-sliding> -->

    </ion-item-group>
  </ion-list>
</ion-content>